<!--index.vtl-->
<h1>Job Board</h1>

<a href="/cities">View City List</a><br>
<a href="/cities/new">Add a New City</a>

<!-- <p>Current Job Openings:</p> -->



<!-- #if ($jobOpenings)
  <ul>
    #foreach ($jobOpening in $jobOpenings)
      <li>$jobOpening.getJobTitle()</li>
      <p>$jobOpening.getDescription()</p>
      <p>$jobOpening.getContactInfo()</p>
    #end
  </ul>
#else
  <p>There are currently no job openings!</p>
#end

<p>Add a new Job Opening:</p>

 -->
<!--index.vtl-->
